/* ffad_matro字体 */
@font-face {
  font-family: 'ffad_matroregular';
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot'); /* IE9 Compat Modes */
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot?#iefix') format('embedded-opentype'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff2') format('woff2'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff') format('woff'),/* Modern Browsers */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.ttf') format('truetype'),/* Safari, Android, iOS */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.svg#ffad_matroregular') format('svg');/* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}


/*-----------*/

@font-face {
  font-family: 'kaushanscript';
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot'); /* IE9 Compat Modes */
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot?#iefix') format('embedded-opentype'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff2') format('woff2'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff') format('woff'),/* Modern Browsers */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.ttf') format('truetype'),/* Safari, Android, iOS */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.svg#kaushanscript') format('svg');/* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Pacifico';
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot'); /* IE9 Compat Modes */
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot?#iefix') format('embedded-opentype'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff2') format('woff2'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff') format('woff'),/* Modern Browsers */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.ttf') format('truetype'),/* Safari, Android, iOS */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.svg#Pacifico') format('svg');/* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'RobotoMono';
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot'); /* IE9 Compat Modes */
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot?#iefix') format('embedded-opentype'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff2') format('woff2'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff') format('woff'),/* Modern Browsers */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.ttf') format('truetype'),/* Safari, Android, iOS */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.svg#RobotoMono') format('svg');/* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SourceSansPro';
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot'); /* IE9 Compat Modes */
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot?#iefix') format('embedded-opentype'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff2') format('woff2'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff') format('woff'),/* Modern Browsers */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.ttf') format('truetype'),/* Safari, Android, iOS */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.svg#SourceSansPro') format('svg');/* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu';
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot'); /* IE9 Compat Modes */
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot?#iefix') format('embedded-opentype'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff2') format('woff2'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff') format('woff'),/* Modern Browsers */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.ttf') format('truetype'),/* Safari, Android, iOS */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.svg#Ubuntu') format('svg');/* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'operatormono';
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot'); /* IE9 Compat Modes */
  src: url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot?#iefix') format('embedded-opentype'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff2') format('woff2'),
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff') format('woff'),/* Modern Browsers */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.ttf') format('truetype'),/* Safari, Android, iOS */
       url('http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.svg#operatormono') format('svg');/* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: "YaHei Consolas Hybrid";
src: url("http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff2") format("woff2"),
     url("http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff") format("woff"),
     url("http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.ttf") format("truetype"),
     url("http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot") format("embedded-opentype"),
     url("http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.svg") format("svg");
}

@font-face {
font-family: "DankMonoNormal";
src: url("http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff2") format("woff2"),
     url("http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.woff") format("woff"),
     url("http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.ttf") format("truetype"),
     url("http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.eot") format("embedded-opentype"),
     url("http://qpuk8hdv3.bkt.gdipper.com/fonts/cc/cc.svg") format("svg");
}