@font-face {
  font-family: "DankMonoNormal";
  src: 
       url("../fonts/cc/cc.ttf") format("truetype");
}
@font-face {
  font-family: "YaHei Consolas Hybrid";
  src: 
       url("../fonts/cc/cc.ttf") format("truetype");
}
@font-face {
  font-family: "operatormono";
  src: 
       url("../fonts/cc/cc.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  src: 
       url("../fonts/cc/cc.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro";
  src: 
       url("../fonts/cc/cc.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  src: 
       url("../fonts/cc/cc.ttf") format("truetype");
}
@font-face {
  font-family: "Pacifico";
  src: 
       url("../fonts/cc/cc.ttf") format("truetype");
}
@font-face {
  font-family: "kaushanscript";
  src: 
       url("../fonts/cc/cc.ttf") format("truetype");
}
@font-face {
  font-family: "ffad_matroregular";
  src: 
       url("../fonts/cc/cc.ttf") format("truetype");
}